:root {
  --color-body-primary:#282828;
  --color-body-secondary:#757575;
  --transition-duration:0.25s;
  --transition-style-ease-in-out:ease-in-out;
}
* {
  margin:0;padding:0;
}
body {
  font-family:'Inter', sans-serif;
  font-weight:300;
  line-height:1.5;
  color:var(--color-body-primary);
}
img {
  max-width:100%;
}

h2 {
  margin:0;
  font-size:20px;
  font-weight:600;
  line-height:1.2;
  @media(max-width:420px) {
    font-size:16px;
  }
}

.container {
  max-width:1280px;
  margin:0 auto;
  padding:2rem 1.5rem;
}
  
.character-properties {
  list-style:none;
  font-size:14px;
  color:var(--color-body-secondary);
  strong {
    color:var(--color-body-primary);
    font-weight:300;
  }
}

.loading-spinner {
  display:flex;
  grid-column:1 / 6;
  justify-content:center;
  padding:1.5rem;
}
.spinner {
  animation-name: spin;
  animation-duration: 2500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}
@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

.btn {
  border-width:0;
  background-color:transparent;
  color:var(--color-body-primary);
  font-size:20px;
  font-weight:600;
  text-decoration:none;
  border-bottom:2px solid var(--color-body-primary);
  cursor:pointer;
  -webkit-user-select:none;
  user-select:none;
  transition:border var(--transition-duration) var(--transition-style-ease-in-out);
  &:hover {
    border-bottom-color:transparent;
  }
}